.button {
    cursor: pointer;
    margin-right: 1rem;
    height: 1.8rem;
    line-height: 1.8rem;
    min-width: 4.5rem;
    outline: 0;
    padding: 0 0.5rem;
    border: 1px solid #DBDBDB;
    color: #444;
    background-color: #F5F5F5;
    font-size: 0.6rem;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}

.content {
    font-weight: bold;
    opacity: .8;
    .button:hover & {
        opacity: 1;
    }
}