.logo {
    height: inherit;
    margin-top: 10px;
    margin-left: 10px;
    .logoIcon {
        font-size: 50px;
        color: red;
        vertical-align: middle;
    }
    .title {
        vertical-align: middle;
        font-size: 20px;
        color: #6C7074;
        font-weight: bold;
    }
}